
$primary-background: #4d4e4f;
$sidebar-background: #9A9DAB;
$card-background: #FFFFFF;
$hydration-card: #5BC8AC;
$activity-card: #DFE166;
$sleep-card: #EC96A4;
$border: 1px solid #000000;

@mixin flexed-element($direction) {
  display: flex;
  flex-direction: $direction;
}
