@import './base.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
  background-color: $primary-background;
  height: auto;
}

h1 {
  text-align: center;
  color: $card-background;
  height: 80px;
  padding-top: 10px;
}

h3 {
  font-size: 1em;
}

main {
  @include flexed-element(row);
  height: 100%;
}

.sidebar {
  align-items: center;
  background-color: $sidebar-background;
  border: $border;
  @include flexed-element(column);
  font-family: $secondary-font;
  font-size: 1.2em;
  font-weight: bold;
  height: 100%;
  padding: 1%;
  text-align: center;
  width: 25%;

  h2, h3 {
    border-bottom: $border;
    margin: 0.5em;
    padding: 0.5em;
    width: 90%;
  }

  img {
    border-radius: 50%;
    border: $border;
    height: 200px;
    width: 200px;
    justify-content: center;
  }
}

.info-container {
  width: 100%;
  margin: 1%;
  @include flexed-element(column);
}

.column {
  @include flexed-element(row);
}

.info-card-container {
  width: 100%;
  background-color: $card-background;
  border: $border;
  margin: 1%;
}

.horizontal-card {
  @include flexed-element(column);
  align-items: center;
  justify-content: space-evenly;
}

.vertical-card {
  @include flexed-element(row);
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  height: auto;
  font-size: 1.25em;
  margin: .5em;
  font-family: $secondary-font;
  @include flexed-element(column);
  text-align: center;
  padding: 2%;
  width: 80%;
  transform: all 0.5s ease-in-out;
  transition: 0.5s;

  &:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    box-shadow: 5px 5px 0px 0px #0000003d;
  }
}

.hydration-card {
  background-color: $hydration-card;
}

.sleep-card {
  background-color: $sleep-card;
}

.activity-card {
  background-color: $activity-card;
}

.number {
  font-size: 2em;
  font-weight: bolder;
  color: $primary-background;
  font-kerning: normal;
}

.card-list {
  list-style-type: none;
  font-weight: normal;
  font-family: $secondary-font;
  font-style: italic;
  padding: 1em;
  font-size: 1em;
}

@media only screen and (max-width: $medium-width-breakpoint) {
  @include query-media($bool: true);
}

@media only screen and (max-width: $small-width-breakpoint) {
  @include query-media($bool: false);
}
